profiles {
    standard {
        process {
            executor = 'local'
            cpus = 2
            memory = '16 GB'
            errorStrategy = 'retry'
            maxRetries = 3
            beforeScript = 'source /Users/pritam/anaconda3/etc/profile.d/conda.sh; conda activate rnaseq'
            'export LC_ALL=en_US.UTF-8'
            'export LANG=en_US.UTF-8'
            // Adjust the path to conda.sh and the environment name as per your setup
        }
    }

    docker {
        process {
            docker.enabled = false
            container = 'quay.io/biocontainers/sra-tools:latest'
            errorStrategy = 'retry'
            maxRetries = 3
        }
    }



    // Add other profiles as needed, e.g., for high memory requirements or specific environments
}

process {
    withName: 'prefetchSRA' {
        memory = '8 GB'
        // Adjust the memory and CPU based on the expected file sizes and your system's capabilities
    }

    withName: 'fastqDump' {
        memory = '12 GB'
        // Fastq-dump might require more memory depending on the size of the SRA files
    }

    withName: 'concatenateFastq' {
        memory = '12 GB'
        // Memory requirement depends on the number and size of FASTQ files being concatenated
    }
}

singularity {
    enabled = false
    // Set to true and configure if you prefer using Singularity over Docker
}

workDir = 'processing/'
// Define the working directory for Nextflow

